
Chat Overrides/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
Chat Overrides/obj/Debug/Chat Overrides.pdb
Chat Overrides/obj/Debug/Chat Overrides.dll
Chat Overrides/obj/Debug/Chat Overrides.csprojAssemblyReference.cache
Chat Overrides/obj/Debug/Chat Overrides.csproj.FileListAbsolute.txt
Chat Overrides/obj/Debug/Chat Overrides.csproj.CoreCompileInputs.cache
Chat Overrides/obj/Debug/Chat Overrides.csproj.CopyComplete
Chat Overrides/obj/Debug/.NETFramework,Version=v4.7.2.AssemblyAttributes.cs
Chat Overrides/ChatOverrides.cs~RF1f5fea97.TMP
Chat Overrides/bin/Debug/TShockAPI.dll
Chat Overrides/bin/Debug/TerrariaServer.exe
Chat Overrides/bin/Debug/OTAPI.dll
Chat Overrides/bin/Debug/Newtonsoft.Json.dll
Chat Overrides/bin/Debug/Chat Overrides.pdb
Chat Overrides/bin/Debug/Chat Overrides.dll
Chat Overrides/.vs/Chat Overrides/v16/.suo
Chat Overrides/ChatOverrides.cs~RF1fd99552.TMP
